/* Importar Google Fonts - Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --font-display: "Roboto", sans-serif;
  --font-sans: "Roboto", sans-serif;
}

:root {
  --breakpoint-3xl: 1920px;
  --customOrange: #ff6f3c;
}

/* Aplicar Roboto como fuente base */
body {
  font-family: "Roboto", sans-serif;
}

.bg-customOrange {
  background-color: var(--customOrange);
}